body {
    margin: 0;
    padding: 0;
    background: url('../img/bg-modern.jpg') no-repeat center center fixed; /* Chemin vers l'image */
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 15px;
    background: #35424a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

footer {
    background: #35424a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}